<section class="container_form_portabilidade" *ngIf="form_cliente">
  <form>
    <div>
      <label for="">Provedor</label>
      <select name="" id="">
        <option value="">Ultracom</option>
        <option value="">ConectJa</option>
      </select>
    </div>

    <div>
      <label for="">Nome</label>
      <input type="text">
    </div>

    <div>
      <label for="">Email</label>
      <input type="text">
    </div>

    <div>
      <label for="">Usuario</label>
      <input type="text">
    </div>

    <div>
      <label for="">Senha</label>
      <input type="password">
    </div>
  </form>
  <div class="salvar">
    <button>Salvar</button>
  </div>
</section>
