<main class="container_login">
  <section>
    <section>
      <img src="assets/ULTRACOM.png" alt="">
    </section>
    <form>
      <div>
        <label for="">Usuario</label>
        <input type="text" required>
      </div>

      <div>
        <label for="">Password</label>
        <input type="password" required>
      </div>

      <div>
        <button [routerLink]="['/Portal/Portabilidade']" routerLinkActive="router-link-active" >Login</button>
      </div>
    </form>
  </section>
</main>
