<section class="container_form_portabilidade" *ngIf="form_Portabilidade">
  <form>
    <div>
      <label for="">Provedor</label>
      <select name="" id="">
        <option value="">Ultracom</option>
        <option value="">ConectJa</option>
      </select>
    </div>

    <div>
      <label for="">Razão Social</label>
      <input type="text">
    </div>

    <div>
      <label for="">Tipo Cliente</label>
      <select name="" id="">
        <option value="CPF">Pessoal Fisica</option>
        <option value="CNPJ">Pessoa Juridica</option>
      </select>
    </div>

    <div>
      <label for="">CPF / CNPJ</label>
      <input type="text">
    </div>

    <div>
      <label for="">Adicionar Numero</label>
      <textarea name="" id="" rows="5"></textarea>
    </div>
  </form>
  <div class="salvar">
    <button>Salvar</button>
  </div>
</section>
